* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr_primary: #DE6C4A;
    --clr_secondary: #E5B181;
    --clr_accent: #F4B9B2;

    --page_padding_horizontal: 2.5rem;
    
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5 {
    line-height: 1.15;
}
h1, h2 {
    margin-bottom: 1rem;
}
p {
    line-height: 1.5;
}

.btn__action {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--clr_primary);
    padding: .75rem 1.25rem;
    border-radius: .5rem;

    text-decoration: none;

    display: inline-flex;
    align-items: center; justify-content: center;

    transition: background 200ms ease-out, filter 200ms ease-out;
}
.btn__action:hover {
    filter: brightness(1.125);
}


header {
    padding: 1.5rem var(--page_padding_horizontal);
    width: 100%;
    display: flex;
    align-items: flex-end;  
    justify-content: space-between;
    border-bottom: 2px solid #ececec;
    /* background-color: var(--clr_primary); */
    /* background-image: linear-gradient(90deg, var(--clr_primary), var(--clr_secondary)); */
}
body.dark header {
    background-color: #121212;
    border-color: #333;
}
.header_logo {
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 0;
    /* color: var(--clr_primary); */
    /* color: #fff; */
    color: var(--clr_primary);

    background: -webkit-linear-gradient(90deg, var(--clr_primary), var(--clr_secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav {
    display: flex;
    align-items: center;
}
body.dark header nav a {
    color: #ececec;
}
header nav a {
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0 0 .25rem 0;   
    /* color: #fff; */
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border 200ms ease-in-out;
}
header nav a:hover,
header nav a:focus {
    border-color: var(--clr_secondary);
}
header nav a:not(:last-of-type) {
    margin-right: 1.5rem;
}

main {
    /* padding: 1.5rem 0; */
}

section.hero {
    padding: 2.5rem var(--page_padding_horizontal);
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 25rem; */
    background-color: #000;
    /* outline: 1px solid red; */
}

section.hero > img:first-of-type {
    margin: 0 auto;
}

section.hero > span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

section.hero > span > h1 {
    font-size: 1.75rem;
    color: var(--clr_secondary);
}
section.hero > span > p {
    color: #ddd;
    max-width: 45ch;
}

section.portfolio {
    padding: 2.5rem var(--page_padding_horizontal);
    /* background-color: #131313; */
}
section.portfolio > h2 {

    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
}

.projects_section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto; 
    max-width: 64em;
    margin: 0 auto;

}
.projects_section > article {
    /* outline: 1px solid red; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* width: 100%; */
    /* margin: 1.5rem 0; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;


}
.projects_section > article img {
    max-width: 80%;
    object-fit: cover;
}
.projects_section > p {
    outline: 1px solid green;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
    
  
  .card {
    /* background: #191c29; */
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
  }
  
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate)
        , var(--clr_primary), var(--clr_secondary) 43%, var(--clr_accent));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 10s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , rgba(93, 220, 255, 0.25), rgba(61, 103, 227, 0.25) 43%, rgba(78, 0, 194, 0.25));
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  